@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';



@utility no-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --font-vidaloka: "Vidaloka", serif;
}

@custom-variant dark (&:where(.dark, .dark *));


